*{
    margin: 0%;
    padding: 0%;
    font-family: 'Slabo 27px', serif;
    
}

html{
    scroll-behavior: smooth;
}

/* Cambio de theme */
.theme-color{
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 99;
    background: transparent;
}

.open-panel{
    background: #12ecdad3;
    color: #fff;
    padding: 10px 25px;
    transform: rotate(-90deg);
    position: relative;
    right: -34px;
    transition: 1.1s;
}

.open-panel.active{
    right: 73px;
}

.cont-colores{
    width: 100px;
    padding: 30px 0;
    background: #fff;
    /* text-align: center; */
    position: absolute;
    right: -120px;
    transition: 1s;
    top: -24px;
}

.cont-colores.active{
    right: 0;
}

.cont-colores button{
    width: 30px;
    height: 30px;
    display: block;
    color: transparent;
    border-radius: 40px;
    margin: 10px auto;

}

.cont-colores button:nth-child(1){
    background: #12ecda;
}
.cont-colores button:nth-child(2){
    background: #6e5494;
}
.cont-colores button:nth-child(3){
    background: #8F3E32;
}

/* NAV */

header{
    width: 100%;
    position: relative;
    height: 100vh;
    background: url("../Img/imagenFondo.jpg");
    background-size: cover;
}

 header .fondo1{
    width: 100%;
    height: 100%;
    background-color:#212121a0 ;
}

main .fondo1{   
    width: 100%;
    height: 100%;
    background-color:#212121a0 ;
} 

header nav{
    display: flex;
    position: fixed;
    width: 100%;
    height: 7%;
    text-align: center;
    align-items: center;
    justify-content: center;   
    background: rgba(33, 33, 33, 0.74);
}

@media screen and (max-width:600px) {
    
    header nav{
        display: block;
        z-index: 99;
        background :rgba(33, 33, 33, 0.822) ;
    }


}


 header nav ul{
    list-style: none;    
}

header nav .nav-item a{
    text-decoration:none; 
    color: #fff;
    margin: 20px; 
}

header .nav-item{
    color: #fff;
}


/* Hero */
 header .img-person{
    position: relative;
    top: 100px;
    width: 450px;
}

@media screen and (max-width:600px) {
    header .img-person{
        top: 140px;
        left: 50px;
        width: 300px;
 }

}

header .info{
    position: relative;
    color:#fff;
    font-size: 60px;
    top: 60%;
}

@media screen and (max-width:600px) {
    
    header .info{
        font-size: 40px;
        top: 200px;
    }

}


header .info h2{
    text-align: center;
    font-size: 40px;
}

header .info p{
    color:#6e5494; 
    text-align: center;
}

header .icon-bar{
    top: 250px;
    left: 95%;
    position: relative;
    /* background:rgba(239, 237, 232, 0.58); */
    width: 70px;

}

header .icon-bar a{
    display: block;
    padding: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

@media screen and (max-width:600px) {
    header .icon-bar {
        top: 200px;
        left: 150px;
    display: flex;
    justify-content: center;
    
    }

}

header .icon-bar a:hover{
    background-color: #6e5494;
    transform: translateY(-10px);
}

header .icon-bar .facebook{
    background: #3b5998;
}

header .icon-bar .youtube{
    background: #c4302b;
}

header .icon-bar .instagram{
    background:  #3f729b;
}

header .icon-bar .discord{
    background: #36393F;
}

header .icon-bar .github{
    background: #6e5494;
}


/* main */

/* contadores */
main{
    background: rgba(0, 0, 0, 1);
    width: 100%;
}

main .cont .number-cont{
    color:#6e5494;
}


main .cont p{
    color:#fff; 
}

main .experiencia{
    margin-left: 60%;
    margin-top: 5%;
    /* background:rgba(239, 237, 232, 0.58); */
    /* width: 160px;
    height: 80px;
    border-radius: 20px;
    text-align: center; */
}


main .proyec-compl {
   
    /* background:rgba(239, 237, 232, 0.58); */
    margin: 5% auto;
    width: 160px;
    height: 90px;
    text-align: center;
    border-radius: 20px;
    border: 3PX SOLID #6e5494 ;
    transition: 1s;
    padding:2px;
}

main .proyec-compl:hover{
    transform: scale(1.2);
}



main .clien{
    margin-top: 1%;
    float: right;
    /* background:rgba(239, 237, 232, 0.58); */
    width: 160px;
    text-align: center;
    border-radius: 20px;
    border: 3PX SOLID #6e5494 ;
    transition: 1s;
    padding: 2px;
}


main .clien:hover{
    transform: scale(1.2);
}

main .experiencia2{
    margin-top: 1%;
    float: left;
    /* background:rgba(239, 237, 232, 0.58);  */
    width: 160px;
    text-align: center;
    border-radius: 20px;
    border: 3PX SOLID #6e5494 ;
    transition: 1s;
    padding: 2px;
}

main .experiencia2:hover{
    transform: scale(1.2);

}


main .descripciones{
    margin-top: 5%;
}
main .titulo-cont{
    color: #6e5494;
}
main .designer{
    /* background:rgba(239, 237, 232, 0.58); */
    text-align: center;
    margin-left: 50%;
    width: 300px;
    height: 230px;
    border-radius: 20px;
    padding: 15px;
    border: 3PX SOLID #6e5494 ;
    transition: 1s;

}

@media  screen and (max-width:600px) {
    main .designer{

        margin-left: 0;
    }
}

main .frontend{
    /* background:rgba(239, 237, 232, 0.58); */
    text-align: center;
    width: 300px;
    height: 230px;
    border-radius: 20px;
    padding: 10px;
    border: 3PX SOLID #6e5494 ;
    transition: 1s;


}

main .backend{
    /* background:rgba(239, 237, 232, 0.58); */
    text-align: center;
    width: 300px;
    height: 230px;
    border-radius: 20px;
    padding: 15px;
    border: 3PX SOLID #6e5494 ;
    transition: 1s;
}

.cont-portf:hover{
background:#6e54948c;
border-radius: 0;

}

.style-backend :hover h2{
color: rgba(0, 0, 0, 1);
}
.style-backend :hover p{
    color: rgba(0, 0, 0, 1);
}

/* Habilidades */

#habilidades{
    width: 100%;
    margin-top: 10%;
}

main .titulo-habi{
    color: #6e5494;
    text-align: center;
    margin-bottom: 40px;
}



main .style-progres p{
    color: #c4c3b9;
    /* text-align: center; */
    margin: 40px 0;
}

main .style-progres .tipo-habi{
    display:flex;
    justify-content: space-between;
    color: #6e5494;
}

main .style-progres .tipo-habi spam{
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}


main .progres-cont{
display: flex;
color: #fff;
text-align: center;
justify-content: space-evenly;
margin: 5px 0;
}

main .style-progres .porciento{
    margin-left: 30px;
}

/* PORTAFOLIO */


/* SOBRE MI */
#sobre-mi h2{
    color: #6e5494;
    margin: 50px 0;
}

#sobre-mi .bio-expe{
    color: #fff;
    margin-bottom: 80px;
}

#sobre-mi article .biografia p{
    text-align: center;
    margin: 20px 0;
    
}

#sobre-mi article .experi p{
    text-align: center;
    margin: 20px 0;
}

#sobre-mi .img-person2{
    position: relative;
    left: 20%;
    top: 15%;
    width: 50%;
}

@media screen and (max-width: 600px) {
    #sobre-mi .img-person2{
        top: 0;
    }
}

/* footer */


footer article p{
    color: #fff;
    text-align: center;
    margin: 8px;
}

footer .icon-bar2{
    position: relative;
    left: 15%;
}

footer .icon-bar2 a{
    margin: 1px;
    padding: 0px 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

footer .icon-bar2 a:hover{
    background-color: #6e5494;
    border-radius: 8px;
}
